.startup-projects-main {
  display: flex;
}

.startup-projects-main > * {
  flex: 1;
  margin-bottom: 30px;
}

.project-card-head {
  color: rgb(36, 41, 46);
  font-size: 25px;
  font-weight: 700;
  letter-spacing: -0.5px;
  margin: 0px;
}

.startup-project-text {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;


}
.startup-project-text img {
  width: 300px;
  min-height: 150px;
}

.project-card-description {
  color: rgb(88, 96, 105);
}
.liveu-div,
.attollo-div,
.lbd-div {
  cursor: pointer;
}

.lbd-div {
  background-color: #191919;
  align-self: center;
  padding: 10px;
  border-radius: 5px;
}

@media (max-width: 768px) {

  .project-subtitle{
    font-size: 16px;
    text-align: center;
  }
}
